table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 5px;
  border: 1px solid gray;
}

form label {
  width: 30%;
  display: block;
  float: left;
  line-height: 2;
}

form input, form select {
  width: 70%;
  line-height: 2;
}

form select {
  padding: 5px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.float-right {
  float: right;
}

.btn {
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5;
}

.btn-primary {
  background-color: #4A9CE8;
  color: white;
}

.btn-primary:hover {
  background-color: #81B9EF;
}

.right-button {
  width: 100%;
  text-align: right;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1080px;
  margin: 70px auto;
  border: 1px solid gray;
}

.validate-error {
  color: red;
  text-align: center;
}

.notification {
  color: white;
  background-color: #4E9F3D;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
/*# sourceMappingURL=app.css.map */